# DB conf
MYSQL_CONTAINER_NAME=db
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=creche
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_PORT=33006


ARCHIVE_FOLDER="/archives/"

#change this
SECRET_KEY="I=YsDS[R&-DyJa=3}OtIWSts1e(-IC"

USERNAME="admin"
PASSWORD="admin"

NB_GROUPES=5
#in hours
TOKEN_EXPIRATION_TIME=24


APP_URL=http://127.0.0.1
# Need to run the start script with sudo when using port 80 (make sure the chosen port is free)
APP_PORT=3000